[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
sphinx = "==3.5.3"
sphinx-rtd-theme = "==0.5.1"
sphinxcontrib-bibtex = "==2.2.0"
nbsphinx = "==0.8.2"
wheel = "==0.36.2"
twine = "==3.4.1"
pytest = "==6.2.3"
pytest-cov = "==2.11.1"

[requires]
python_version = "3.6"
